<div class="div-block-24">
                <div data-w-id="ac239a64-6f8e-5458-5cd0-cbc2f071eb6f" style="opacity:0" class="div-block-26">
                    <div class="row-8 w-row">
                        <div class="column-18 w-col w-col-4"></div>
                        <div class="column-19 w-col w-col-4">
                            <img src="https://uploads-ssl.webflow.com/5c1969014e912920a65ea53a/5c1969014e912970545ea63a_twitter3.png" width="54" data-w-id="0ada8869-bae7-0281-90b8-aab06869e6df" style="opacity:0" alt="" class="image-25"/><img src="https://uploads-ssl.webflow.com/5c1969014e912920a65ea53a/5c1969014e91298b1b5ea639_linkedin3.png" width="38.5" data-w-id="63b29545-41bd-3097-1bad-3ce8da1f9026" style="opacity:0" alt="" class="image-26"/><img src="https://uploads-ssl.webflow.com/5c1969014e912920a65ea53a/5c1969014e912991ac5ea638_faceBK3.png" width="38.5" data-w-id="afb24ff3-4d1e-30df-3132-ae45979fa5bf" style="opacity:0" alt="" class="image-26"/><p class="paragraph-7">Copyright © 2020 Larry&#x27;s Graphics.</p>
                          </div>
                        <div class="w-col w-col-4">
                        </div>
                    </div>
                </div>
            </div>
          </div>