  <div class="wrapper">
                <div style="display:block;" data-collapse="medium" data-animation="default" data-duration="400" data-no-scroll="1" class="navbar-4 w-nav">
                    <div class="w-container"><a href="#myhome" class="w-nav-brand">
                        <div data-w-id="528948ba-de0e-365f-95a9-7cf647abab9f" class="text-block-3" data-ix="new-interaction-5"><span class="larrys">LARRY&#x27;S</span> <span class="thegraphics">GRAPHICS</span></div></a>
                        <nav role="navigation" class="w-nav-menu">
                            <a href="#myservice" class="nav-link-8 w-nav-link">Service</a>
                            <a href="#mywork" class="nav-link-8 w-nav-link">Portfolio</a>
                            <a href="#about-larry" class="nav-link-8 w-nav-link">About</a>
                            <a href="#contactme" target="_blank" class="nav-link-5 w-nav-link">Contact</a>
                            <a href="#finearts" target="_blank" class="nav-link-6 w-nav-link">Fine Arts</a>
                        </nav>
                        <div class="w-nav-button">
                            <div class="w-icon-nav-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
