<video autoplay="" loop="" style="background-image:url(&quot;https://uploads-ssl.webflow.com/5a48cf447b791a00019dcc88/5ad98f894bee8e96c0668be4_city5-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                        <source src="https://uploads-ssl.webflow.com/5c1969014e912920a65ea53a/5c1969014e9129a8ef5ea621_city5-transcode.mp4" data-wf-ignore="true"/>
                        <source src="https://uploads-ssl.webflow.com/5c1969014e912920a65ea53a/5c1969014e9129a8ef5ea621_city5-transcode.webm" data-wf-ignore="true"/>
</video>